
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head" ></head>
<body>

    <nav th:replace="fragments/nav  :: nav-admin"></nav>

    <div class="container">

        <h1 class = "display-2">Pages</h1>
        <a href="/admin/pages/add" class="btn btn-primary">Add new</a>

        <div th:if="${!pages.empty}">
            <p>There are pages</p>
        </div>

        <div th:unless="${!pages.empty}">
            <p>There are NO pages</p>
        </div>

    </div>

    <div  th:replace="fragments/footer"></div>

</body>
</html>
